# Python artifacts
__pycache__/
*.pyc

# Environment files
.env

# Virtual environments
venv/
env/

# Node modules (if using React frontend)
node_modules/

# OS-specific files
.DS_Store

# .yml files
.yml
